@{
    Layout = "_Layout";
    ViewBag.ActionIndex = "Index";
    ViewBag.ActionCreate = "Create";
}


<form asp-action=@ViewBag.ActionIndex method="get">
    <div class="text-center">
        <p>
            Find by: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action=@ViewBag.ActionIndex>Back to all events</a>
        </p>
    </div>
</form>

@RenderBody()

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="text-center">

    <a asp-action=@ViewBag.ActionIndex
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action=@ViewBag.ActionIndex
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>

