@model Core.IPaginatedList<Facade.Event.EventViewModel>
@{
    ViewData["Title"] = "Home Page";
}



<head>
    <link rel="stylesheet" href="css/table-events.css" type="text/css" MEDIA=screen />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .row.content {height: 1500px}
    
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }
    
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        .row.content {height: auto;} 
        
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="\js\clickable-row.js"></script>
</head>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <br/>
            <input type="button" value="Create Event" onclick="window.location.href = '@Url.Action("Create", "Event")'"/>
            <br/>
            <input type="button" value="View Events" onclick="window.location.href = '@Url.Action("Index", "Event")'"/>

        </div>



    <div class="col-sm-9">
        Recent events


                <table id="eventList" class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Time</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span class="event-picture">
                                    <img class="editable img-responsive" alt="Avatar" id="avatar-2"
                                         src="~/images/@item.EventImage" />
                                </span>
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Location</td>
                            <td>@item.Date.ToString("MMMM dd, yyyy hh:mm")</td>
                            <td>
                                <a href="@Url.Action("Details", "Event", new {id = item.ID})">
                                    More
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>



<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/calendar.js"></script>
