@using EventProject.Extensions
@model Facade.Event.EventViewModel

@{
    ViewBag.Title = "Delete";
    ViewBag.SubTitle = "Event";
    ViewBag.Button = "Delete";
    Layout = "_DeletePartial";
}
<body>

@Html.HiddenFor(model => model.ID)
@Html.ViewingControlsFor(model => model.Name)
@Html.ViewingControlsFor(model => model.Date)
@Html.ViewingControlsFor(model => model.Type)
@Html.ViewingControlsFor(model => model.Location)
@Html.ViewingControlsFor(model => model.Description)
@Html.HiddenFor(model => model.Organizer)

</body>

@section Actions
{

    @Html.ActionLink("Edit", "Edit", new {id = Model.ID} )

    @Html.ActionLink("Back to Events", "Index")
}