@using Facade.Profile
@using Facade.Event
@using Infra
@using Infra.Attending
@using Infra.Comment
@model Facade.Comment.AllCommentViewModel


@{
    ViewData["Title"] = "Details on " + @Model.Name;
    var profiles = ViewBag.Profiles as ProfileViewModelsList ?? new ProfileViewModelsList(null);
    var eventID = Model.ID;
    // var profileID = Url.Action("GetCurrentUserID", "Event");
    EventProjectDbContext c = null;
    //var isObjectPresent = new AttendingRepository(c).FindObject(eventID, profileID);
    // var list = new CommentRepository(c).GetCommentsList(eventID);
    var registerButtonText = ViewData["RegisterButtonText"];
}

@{ var dummy = Model.EventViewModel;}



<div style="margin-top: 50px" class="tab-content no-border padding-24">
    <div id="home" class="tab-pane in active">
        <div class="row">
            <div class="col-xs-12 col-sm-3 center">
                <span class="event-picture">
                    <img class="editable img-responsive" alt="Avatar" id="avatar-2" src="~/images/@dummy.EventImage" />

                </span>

                <a onclick="myFunction()" class="btn btn-sm btn-block btn-primary">
                    <span class="bigger-110">@registerButtonText</span>
                </a>

                <div class="space space-4"></div>



                <script>
                    function myFunction() {
                                return window.location.href = '@Url.Action("Register", "Event", new { id = dummy.ID })';
                            }
                </script>
                <h2></h2>


                <a href="@Url.Action("Edit", "Event", new {id = dummy.ID})" class="btn btn-sm btn-block btn-primary">
                    <span class="bigger-110">Edit Event</span>
                </a>
                <a href="@Url.Action("Delete", "Event", new {id = Model.ID})" class="btn btn-sm btn-block btn-primary">
                    <span class="bigger-110">Delete Event</span>
                </a>

            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-xs-2">
                        <h2 class="orange">@dummy.Name</h2><br /><br />
                    </div>
                </div>
                <div class="row" id="info">
                    <div class="col-xs-10 col-sm-7">
                        <div class="row">
                            <div class="col-sm-2">
                                <p>Location: </p>
                            </div>
                            <div class="col-sm-6">
                                <p>@dummy.Location</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>Type: </p>
                            </div>
                            <div class="col-sm-6">
                                <p>@dummy.Type</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>Date: </p>
                            </div>
                            <div class="col-sm-6">
                                <p>@dummy.Date.ToString("MMMM dd, yyyy hh:mm")</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>Organizer: </p>
                            </div>
                            <div class="col-sm-6">
                                <p>@dummy.Organizer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="space-20"></div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-small">
                        <h4 class="widget-title smaller">
                            <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                            Description
                        </h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <p>
                                @dummy.Description

                            </p>
                        </div>
                    </div>
                </div>
                @*todo WHO ELSE IS GOING as dropdown*@
                @if (dummy.InProfiles.Count > 0)
                {
                    <div class="widget-header widget-header-small">
                        <h4 class="widget-title smaller">
                            <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                            Who else is going:
                        </h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <p>
                                @foreach (var item in dummy.InProfiles)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    </tr>
                                }
                            </p>
                        </div>
                    </div>
                }

                @*<div class="widget-box transparent">

                        <div class="widget-header widget-header-small">

                            <h4 class="widget-title smaller">

                                <i class="ace-icon fa fa-check-square-o bigger-110"></i>

                                Comments:

                            </h4>

                        </div>



                        <div class="widget-body">

                            <div class="widget-main">

                                <p>
                                    <form id="commentTextArea">
                                        <textarea rows="6" cols="50" name="comment" form ="commentTextArea"></textarea>
                                    </form>

                                </p>

                            </div>

                        </div>

                        <h2></h2>

                        <a href="@Url.Action("AddComment", "Event", new {id = Model.ID})" class="btn btn-sm btn-block btn-primary">
                            <span class="bigger-110">Add Comments</span>
                        </a>



                        <h2></h2>

                    </div>*@

                @*@if (dummy3 > 0)*@



                    <form asp-controller="Event" asp-action="CreateNewComment" asp-route-id="@dummy.ID" method="POST" class="form-horizontal">
                        <label>Comments</label>
                        <br/>
                        <label>Subject:</label>
                        <input type="text" name="subject" />
                        <br/>
                        <label>Email:</label>
                        <input type="text" name="email" />
                        <br />
                        <textarea name="commentText" rows="6" cols="50"></textarea>
                        <br />
                        <input type="submit" value="Add Comment" />
                </form> 
                
                

                <div id="home" class="tab-pane in active">

                    <table cellspacing="0">
                        <body>
                            <tbody>
                                @foreach (var item in Model.CommentProfileViewModel)
                                {
                                    <table align="left">
                                        <p></p>
                                        <p></p>
                                        <hr />
                                        <td>
                                            <span class="comment-picture">
                                                <img class="commenttable img-rounded" alt="Avatar" id="avatar-2" height="100" src="~/images/@item.ID/@item.Image" />
                                            </span>
                                        </td>
                                    </table>
                                    <p>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.CommentAddTime)
                                            </small>
                                        </td>
                                        <br />
                            <td><small> @Html.DisplayFor(modelItem => item.Email)</small> </td>
                            </p>
                            <p>
                            <td><normal><b>@Html.DisplayFor(modelItem => item.Subject)</b></normal> </td>
                            </p>

                            <p>
                            <td> @Html.DisplayFor(modelItem => item.CommentText) </td></p>
                            <p></p>
                            <hr />



                        }

                                </tbody>
                                </body>
                            </table>
                </div>

            </div>
        </div>


    </div><!-- /#home -->
</div>

