
@using Facade.Profile
@using Facade.Event
@using Infra
@using Infra.Attending
@model Facade.Event.EventViewModel
@{
    ViewData["Title"] = "Details on " + @Model.Name;
    var profiles = ViewBag.Profiles as ProfileViewModelsList ?? new ProfileViewModelsList(null);
    var eventID = Model.ID;
    var profileID = Url.Action("GetCurrentUserID", "Event");
    EventProjectDbContext c = null;
    var isObjectPresent = new AttendingRepository(c).FindObject(eventID, profileID);
}


<div style ="margin-top: 50px" class="tab-content no-border padding-24">
    <div id="home" class="tab-pane in active">
        <div class="row">
            <div class="col-xs-12 col-sm-3 center">
                <span class="event-picture">
                    <img class="editable img-responsive" alt="Avatar" id="avatar-2" src="~/images/@Model.EventImage" />

                </span>

                <div class="space space-4"></div>

                @* <button type="button" id="Unregister" display="hide" onclick="myFunction()">Unregister</button>*@

                <input type="button" value="Register" id="toggle" onclick="myFunction()"></>

                <script>
                    var change = document.getElementById("toggle");
                    change.addEventListener("load", textChange());
                </script>

                <script>
                    function textChange() {
                        var text = document.getElementById("toggle");
                        if (isObjectPresent == null) {
                            text.value = "REGISTER";
                        } else {
                            text.value = "UNREGISTER";
                        }
                    }
                </script>

                <script>
                            function myFunction() {
                                return window.location.href = '@Url.Action("Register", "Event", new { id = Model.ID })';
                            }
                </script>

                @*<span class="bigger-110">Register</span>*@


                @* todo Unregister=> only after ypu register*@

                @*<div></div>
                    <a href="@Url.Action("NotAttending", "Event", new {newEvent = Model.ID})" class="btn btn-sm btn-block btn-primary">
                        <span class="bigger-110">UnRegister</span>
                    </a>*@

                @*todo Edit -> only if ypu create event*@
                @*<div></div>
                    <a href="@Url.Action("Edit", "Event", new {id=Model.ID})" class="btn btn-sm btn-block btn-primary">
                        <span class="bigger-110">Edit</span>
                    </a>*@


            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-xs-2">
                        <h2 class="orange">@Model.Name</h2><br /><br />
                    </div>
                </div>
                <div class="row" id="info">
                    <div class="col-xs-10 col-sm-7">
                        <div class="row">
                            <div class="col-sm-2">
                                <p>Location: </p>
                            </div>
                            <div class="col-sm-6">
                                <p>@Model.Location</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>Type: </p>
                            </div>
                            <div class="col-sm-6">
                                <p>@Model.Type</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>Date: </p>
                            </div>
                            <div class="col-sm-6">
                                <p>@Model.Date</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>Organizer: </p>
                            </div>
                            <div class="col-sm-6">
                                <p>@Model.Organizer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="space-20"></div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-small">
                        <h4 class="widget-title smaller">
                            <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                            Description
                        </h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <p>
                                @Model.Description

                            </p>
                        </div>
                    </div>
                </div>

                @if (Model.InProfiles.Count > 0)
                 {
                    <div class="widget-header widget-header-small">
                        <h4 class="widget-title smaller">
                            <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                            Who else is going:
                        </h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <p>
                                @foreach (var item in Model.InProfiles)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    </tr>
                                }
                            </p>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div><!-- /#home -->
</div>



@*<script>
        function myFunction() {
            var change = document.getElementById("Register");
            if (change.innerHTML == "Register") {
                document.getElementById("Register").hide();
                document.getElementById("Unregister").show();

            }
            else {

                document.getElementById("Unregister").hide();
                document.getElementById("Register").show();
            }

            return window.location.href ='@Url.Action("Register", "Event", new {id = Model.ID})';
        }
    </script>*@