@using EventProject.Controllers
@using EventProject.Extensions
@using Facade.Profile
@model Facade.Event.EventViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = "Event";
    Layout = "_DetailsPartial";
    var profiles = ViewBag.Profiles as ProfileViewModelsList ?? new ProfileViewModelsList(null);
    var profile = new ProfileViewModel();
    
}
<body>
@Html.ViewingControlsFor(model => model.Name)
@Html.ViewingControlsFor(model => model.Date)
@Html.ViewingControlsFor(model => model.Type)
@Html.ViewingControlsFor(model => model.Location)
@Html.ViewingControlsFor(model => model.Description)
@Html.ViewingControlsFor(model => model.Organizer)
    
<input type="button" value="Register" 
       onclick="window.location.href='@Url.Action("Attending", "Event", new {newEvent = Model.ID})'"/>


<input type="hidden" value="Unregister"onclick="window.location.href='@Url.Action("NotAttending","Event", new {newEvent = Model.ID})'"/>
@section Actions
{
    @Html.ActionLink("Edit", "Edit", new {id=Model.ID})
    @Html.ActionLink("Back to List", "Index")
}
</body>