@using EventProject.Extensions
@model Facade.Event.EventViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"Event ({Model.ID})"; //todo does we need that it show event id ?
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}
<body>
    @Html.HiddenFor(model => model.ID)
    @Html.EditingControlsFor(model => model.Name)
    @Html.EditingControlsFor(model => model.Date)
    @Html.EditingControlsFor(model => model.Location)
    @Html.EditingControlsFor(model => model.Type)
    @Html.EditingControlsFor(model => model.Description)
    @Html.HiddenFor(model => model.Organizer) 
</body>
@section Actions
    {
    @Html.ActionLink("Back to List", "Index")
}