@using Core
@using EventProject.Extensions
@model Facade.Event.EventViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"Event ({Model.ID})"; //todo does we need that it show event id ?
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}
<body>
    @Html.HiddenFor(model => model.ID)
    @Html.EditingControlsFor(model => model.Name)
    @Html.EditingControlsFor(model => model.Date)
    @Html.EditingControlsFor(model => model.Location)
<div class="form-group">
    <label asp-for="Type" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="Type"
                asp-items="Html.GetEnumSelectList<EventType>()">
        </select>

    </div>
</div>
    @Html.EditingControlsFor(model => model.Description)
    @Html.HiddenFor(model => model.Organizer) 
</body>
@section Actions
    {
    @Html.ActionLink("Back to List", "Index")
}