@using Core
@using Domain.Profile
@using EventProject.Extensions
@model Facade.Event.AllEventsViewModel


@{
    Layout = "_IndexPartial";
   // var userName = ViewData["userRealName"] as PaginatedList<ProfileObject>;
}

<head>
    <link rel="stylesheet" href="css/table-events.css" type="text/css" MEDIA=screen />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="\js\clickable-row.js"></script>
</head>

<style type="text/css">
    .clickable-row {
        /*display: block;*/
        cursor: pointer;
    }
</style>
<style type="text/css">
    .clickable-row:hover {
        background: #ffcea1 !important;
        background: transparent;
    }
</style>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#events">Exploring</a></li>
    <li><a data-toggle="tab" href="#myEvents">Attending</a></li>
    <li><a data-toggle="tab" href="#myOrganizedEvents">Organizing</a></li>
</ul>

<div class="tab-content">
    <div id="events" class="tab-pane fade in active">
        <div id="Events">
            <div class="tab-content no-border padding-24">
                <div id="home" class="tab-pane in active">
                    <table cellspacing="0">
                        <body>
                            @{ var dummy = Model.AllEventViewModel.FirstOrDefault();}
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.DbRecord.Name)
                                    @Html.SortColumnHeaderFor(ViewData["SortDate"], model => dummy.DbRecord.Date)
                                    @Html.SortColumnHeaderFor(ViewData["SortLocation"], model => dummy.DbRecord.Location)
                                    @Html.SortColumnHeaderFor(ViewData["SortType"], model => dummy.DbRecord.Type)

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AllEventViewModel)
                                {
                                    <tr class="clickable-row" data-href="@Url.Action("Details","Event", new {id = item.DbRecord.ID})">
                                        <td>
                                            <span class="event-picture">
                                                <img class="editable img-rounded" alt="Avatar" id="avatar-2" height="200" width=200 style="float: left"
                                                     src="~/images/@item.DbRecord.EventImage"/>
                                            </span>
                                        </td>
                                        <td>
                                            <div style="float: left">
                                                @Html.DisplayFor(modelItem => item.DbRecord.Name)
                                            </div>
                                        </td>
                                        <td>
                                            <div style="float: left">
                                                @item.DbRecord.Date.ToString("MMMM dd, yyyy hh:mm")
                                            </div>
                                        </td>

                                        <td>
                                            <div style="float: left">
                                                @Html.DisplayFor(modelItem => item.DbRecord.Location)
                                            </div>
                                        </td>
                                        <td>
                                            <div style="float: left">
                                                @Html.DisplayFor(modelItem => item.DbRecord.Type)
                                            </div>
                                        </td>
                                       
                                        @Html.EditDetailDeleteFor(modelItem => item.DbRecord.ID)
                                    </tr>
                                }
                            </tbody>
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="myEvents" class="tab-pane fade">
        <div id="myEvents">
            <div class="tab-content no-border padding-24">
                <div id="home" class="tab-pane in active">
                    <table cellspacing="0">
                        <body>
                            @{ var dummy2 = Model.MyEventsViewModel.FirstOrDefault();}
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy2.DbRecord.Name)
                                    @Html.SortColumnHeaderFor(ViewData["SortDate"], model => dummy2.DbRecord.Date)
                                    @Html.SortColumnHeaderFor(ViewData["SortLocation"], model => dummy2.DbRecord.Location)
                                    @Html.SortColumnHeaderFor(ViewData["SortType"], model => dummy2.DbRecord.Type)


</tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MyEventsViewModel)
                                {
                                    <tr class="clickable-row" data-href="@Url.Action("Details","Event", new {id = item.DbRecord.ID})">
                                        <td>
                                            <span class="event-picture">
                                                <img class="editable img-rounded" alt="Avatar" id="avatar-2" height="200" width=200 style="float: left"
                                                     src="~/images/@item.DbRecord.EventImage" />
                                            </span>
                                        </td>
                                        <td>
                                            <div style="float: left">
                                                @Html.DisplayFor(modelItem => item.DbRecord.Name)
                                            </div>
                                        </td>
                                        <td>
                                            <div style="float: left">
                                                @item.DbRecord.Date.ToString("MMMM dd, yyyy hh:mm")
                                            </div>
                                        </td>

                                        <td>
                                            <div style="float: left">
                                                @Html.DisplayFor(modelItem => item.DbRecord.Location)
                                            </div>
                                        </td>
                                        <td>
                                            <div style="float: left">
                                                @Html.DisplayFor(modelItem => item.DbRecord.Type)
                                            </div>
                                        </td>

                                        @Html.EditDetailDeleteFor(modelItem => item.DbRecord.ID)
                                    </tr>
                                }
                            </tbody>
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="myOrganizedEvents" class="tab-pane fade">
        <div id="myOrganizedEvents">
            <div class="tab-content no-border padding-24">
                <div id="home" class="tab-pane in active">
                    <table cellspacing="0">
                        <body>
                            @{ var dummy3 = Model.MyOrganizedEventsViewModel.FirstOrDefault();}
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy3.DbRecord.Name)
                                    @Html.SortColumnHeaderFor(ViewData["SortDate"], model => dummy3.DbRecord.Date)
                                    @Html.SortColumnHeaderFor(ViewData["SortLocation"], model => dummy3.DbRecord.Location)
                                    @Html.SortColumnHeaderFor(ViewData["SortType"], model => dummy3.DbRecord.Type)

  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MyOrganizedEventsViewModel)
                                {
                                    <tr class="clickable-row" data-href="@Url.Action("Details","Event", new {id = item.DbRecord.ID})">
                                        <td>
                                            <span class="event-picture">
                                                <img class="editable img-rounded" alt="Avatar" id="avatar-2" height="200" width=200 style="float: left"
                                                     src="~/images/@item.DbRecord.EventImage" />
                                            </span>
                                        </td>
                                        <td>
                                            <div style="float: left">
                                                @Html.DisplayFor(modelItem => item.DbRecord.Name)
                                            </div>
                                        </td>
                                        <td>
                                            <div style="float: left">
                                                @item.DbRecord.Date.ToString("MMMM dd, yyyy hh:mm")
                                            </div>
                                        </td>

                                        <td>
                                            <div style="float: left">
                                                @Html.DisplayFor(modelItem => item.DbRecord.Location)
                                            </div>
                                        </td>
                                        <td>
                                            <div style="float: left">
                                                @Html.DisplayFor(modelItem => item.DbRecord.Type)
                                            </div>
                                        </td>

                                        @Html.EditDetailDeleteFor(modelItem => item.DbRecord.ID)
                                    </tr>
                                }
                            </tbody>
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


