
@using Core
@using Domain.Profile
@using EventProject.Extensions
@model Facade.Event.AllEventsViewModel

@{
    @*ViewData["Title"] = "Events";*@
    Layout = "_IndexPartial";
    var userName = ViewData["userRealName"] as PaginatedList<ProfileObject>;
}
<style type="text/css">.clickable-row {
     /*display: block;*/
     cursor: pointer;
 }
</style>
<style type="text/css">.clickable-row:hover {
        background: #ffcea1 !important;
        background: transparent;
    }
</style>

<head>
    <link rel="stylesheet" href="css/table-events.css" type="text/css" MEDIA=screen />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="\js\clickable-row.js"></script>
</head>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#events">Events</a></li>
    <li><a data-toggle="tab" href="#myEvents">My events</a></li>
</ul>

<div class="tab-content">
    <div id="events" class="tab-pane fade in active">
        <div id="Events" class="tabcontent">
            <div class="tab-content no-border padding-24">
                <div id="home" class="tab-pane in active">
                    <table cellspacing="0">
                        <body>
                            @{ var dummy = Model.AllEventViewModel.FirstOrDefault();}
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.DbRecord.Name)
                                    @Html.SortColumnHeaderFor(ViewData["SortDate"], model => dummy.DbRecord.Date)
                                    @Html.SortColumnHeaderFor(ViewData["SortLocation"], model => dummy.DbRecord.Location)
                                    @Html.SortColumnHeaderFor(ViewData["SortType"], model => dummy.DbRecord.Type)
                                    @Html.SortColumnHeaderFor(ViewData["SortOrganizer"], model => dummy.DbRecord.Organizer)
                                    <th></th>
                                </tr>
                            </thead>
                        <tbody>
                        @foreach (var item in Model.AllEventViewModel)
                        {
                            <tr class="clickable-row" data-href="@Url.Action("Details","Event", new {id = item.DbRecord.ID})">
                                <td>
                                    <span class="event-picture">
                                        <img class="editable img-responsive" alt="Avatar" id="avatar-2"
                                             src="~/images/@item.DbRecord.EventImage" />
                                    </span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.DbRecord.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.DbRecord.Date)</td>
                                <td>@Html.DisplayFor(modelItem => item.DbRecord.Location)</td>
                                <td>@Html.DisplayFor(modelItem => item.DbRecord.Type)</td>
                                <td>@userName.Where(x => x.DbRecord.ID == item.DbRecord.Organizer).FirstOrDefault().DbRecord.Name</td>
                                @Html.EditDetailDeleteFor(modelItem => item.DbRecord.ID)
                            </tr>
                        }
                        </tbody>
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div id="myEvents" class="tab-pane fade">
        <h3>My events</h3>
        <div id="Events" class="tabcontent">
            <div class="tab-content no-border padding-24">
                <div id="home" class="tab-pane in active">
                    <table cellspacing="0">
                        <body>
                            @{ var dummy2 = Model.MyEventsViewModel.FirstOrDefault();}
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy2.DbRecord.Name)
                                    @Html.SortColumnHeaderFor(ViewData["SortDate"], model => dummy2.DbRecord.Date)
                                    @Html.SortColumnHeaderFor(ViewData["SortLocation"], model => dummy2.DbRecord.Location)
                                    @Html.SortColumnHeaderFor(ViewData["SortType"], model => dummy2.DbRecord.Type)
                                    @Html.SortColumnHeaderFor(ViewData["SortOrganizer"], model => dummy2.DbRecord.Organizer)
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MyEventsViewModel)
                                {
                                    <tr class="clickable-row" data-href="@Url.Action("Details","Event", new {id = item.DbRecord.ID})">
                                        <td>
                                            <span class="event-picture">
                                                <img class="editable img-responsive" alt="Avatar" id="avatar-2"
                                                     src="~/images/@item.DbRecord.EventImage" />
                                            </span>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.DbRecord.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DbRecord.Date)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DbRecord.Location)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DbRecord.Type)</td>
                                        <td>@userName.Where(x => x.DbRecord.ID == item.DbRecord.Organizer).FirstOrDefault().DbRecord.Name</td>
                                        @Html.EditDetailDeleteFor(modelItem => item.DbRecord.ID)
                                    </tr>
                                }
                            </tbody>
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
