
@using EventProject.Extensions
@model Core.IPaginatedList<Facade.Event.EventViewModel>

@{
    ViewData["Title"] = "Events";
    Layout = "_IndexPartial";
}
@section Create
    {

    <a asp-action="Create">Create Event</a>
}

<table class="table">
    <body>
        @{ var dummy = Model.FirstOrDefault();}
            <thead>
            <tr>
                
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
                @Html.SortColumnHeaderFor(ViewData["SortDate"], model => dummy.Date)
                @Html.SortColumnHeaderFor(ViewData["SortLocation"], model => dummy.Location)
                @Html.SortColumnHeaderFor(ViewData["SortOrganiser"], model => dummy.Organiser)
                <th></th>
            </tr>
            </thead>
        
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
           
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>@Html.DisplayFor(modelItem => item.Location)</td>
            <td>@Html.DisplayFor(modelItem => item.Organiser)</td>
            @Html.EditDetailDeleteFor(modelItem => item.ID)
        </tr>
    }
    </tbody>
    </body>
</table>
