@using EventProject.Extensions
@model Facade.Profile.ProfileViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = "Edit Profile";
    ViewBag.SubTitle = "Profile";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body>
    @Html.HiddenFor(model => model.ID)
    @Html.EditingControlsFor(model => model.Name)
    @Html.EditingControlsFor(model => model.Location)
    @Html.EditingControlsFor(model => model.Age)
    @Html.EditingControlsFor(model => model.Gender)
</body>

@section Actions
    {
    @Html.ActionLink("Back to List", "Index")
}

