@using Core
@using Domain.Profile
@using EventProject.Extensions
@model Core.IPaginatedList<Facade.Profile.ProfileViewModel>

@{
    Layout = "_IndexPartial";
}

<head>
    <link rel="stylesheet" href="css/table-events.css" type="text/css" MEDIA=screen />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="\js\clickable-row.js"></script>
</head>

<style type="text/css">
     .clickable-row {
         /*display: block;*/
         cursor: pointer;
     }

    .clickable-row:hover {
        background: #ffcea1 !important;
        background: transparent;
    }
</style>

<table id="eventList" class="table table-striped">
    <body>
        @{ var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.ProfileImage)
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
                @Html.SortColumnHeaderFor(ViewData["SortType"], model => dummy.Occupation)
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="clickable-row" data-href="@Url.Action("Details", "Profile", new {@id = item.ID})">
                    <td>
                        <span class="comment-picture">
                            <img class="editable img-rounded" alt="Avatar" id="avatar-2" height="70" width=70 style="float: left" 
                                 src="~/images/@item.ID/@item.ProfileImage" />
                        </span>
                    </td>
                    <td>
                        <div style="float: left">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </td>
                    <td>
                        <div style="float: left">
                            @Html.DisplayFor(modelItem => item.Occupation)
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </body>
</table>


